@import 'variables';

html {
    background-color: hsl(0, 0%, 100%);
}

html, html * {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: $base-font-size;
}
